  .titulos{
      text-align: center;
      padding: 3%;
  }
  i{
      font-size: 50px;
      color: fuchsia;    
      justify-content: center;
  }
  .encontranosIG{
    padding-top: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .envios{
    padding: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pagos{
    padding-bottom: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .newsletter{
    height: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer{
      text-align: center;
  }
  /* suscripcion */
  .row-mod{
    display: block;
    padding: 5px;
  }
  .color-fucsia{
    color: fuchsia;
  }
  .btn-mod{
    background-color: fuchsia;
    border-color: fuchsia;
  }
  .box {
    display: flex;
    flex-direction: column;
  }